.adress {
  font-style: normal;
}
.adress__fact {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: var(--bacnd-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--secondary-color);
  }
  &:focus {
    color: var(--secondary-color);
  }
}
.adress__secondary {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    color: var(--secondary-color);
  }
  &:hover {
    color: var(--secondary-color);
  }
}

.adress__content:not(:last-child) {
  margin-bottom: 7px;
}
