.categories__butns {
  cursor: pointer;
  background-color: var(--dysine-color);
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  min-width: 73px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--secondary-color);
    color: var(--bacnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    background-color: var(--secondary-color);
    color: var(--bacnd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.categories__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.categories__content:not(:last-child) {
  margin-right: 8px;
}
.categories__cards {
  display: flex;
  flex-wrap: wrap;
}
