.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  &--top {
    display: inline-block;
    color: var(--logo-color);
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &--bottom {
    text-align: center;
    display: block;
    color: var(--bacnd-color);
    margin-bottom: 20px;
  }
}

.logo__web {
  color: var(--secondary-color);
}
.navigation .logo {
  color: var(--logo-color);
}
