.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.clients {
  display: flex;
  justify-content: center;
}
.clients__content:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  background-color: var(--bacnd-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: var(--secondary-color);
  }

  &:hover,
  &:focus {
    border-color: var(--secondary-color);
  }
}
