.our-team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--dysine-color);

  &__title {
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 28px;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.our-team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
