.services__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;
  background-color: var(--dysine-color);
  border-radius: 4px;
}
.services__icon {
  width: 70px;
  height: 70px;
}
.services {
  align-items: center;
  padding: 60px 15px;
}
.services__content {
  width: 100%;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.services__titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primyry-text-color);
}
