*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
body {
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
