:root {
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  --main-text-color: #212121;
  --primyry-text-color: #757575;
  --secondary-color: #2196f3;
  --bacnd-color: #ffffff;
  --logo-color: #000000;
  --hero-foot-color: #2f303a;
  --dysine-color: #f5f4fa;
  --adress-color: rgba(255, 255, 255, 0.6);
  --categorie-color: #eeeeee;
  --button-color: #188ce8;
  --icon-color: #afb1b8;
}
